/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * abril-display:
 *   - http://typekit.com/eulas/000000000000000077359fee
 *   - http://typekit.com/eulas/000000000000000077359ff0
 *   - http://typekit.com/eulas/000000000000000077359ff1
 *   - http://typekit.com/eulas/000000000000000077359ff2
 *   - http://typekit.com/eulas/000000000000000077359ff6
 *   - http://typekit.com/eulas/000000000000000077359ff9
 *
 * © 2009-2021 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2021-03-03 14:22:22 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=pxj6fiw&ht=tk&f=14048.14053.14054.14055.14056.14057&a=11231395&app=typekit&e=css");

@font-face {
font-family:"abril-display";
src:url("https://use.typekit.net/af/378f68/000000000000000077359fee/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/378f68/000000000000000077359fee/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/378f68/000000000000000077359fee/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:block;font-style:normal;font-weight:400;
}

@font-face {
font-family:"abril-display";
src:url("https://use.typekit.net/af/d79ef7/000000000000000077359ff0/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/d79ef7/000000000000000077359ff0/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/d79ef7/000000000000000077359ff0/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:block;font-style:italic;font-weight:400;
}

@font-face {
font-family:"abril-display";
src:url("https://use.typekit.net/af/93b1b8/000000000000000077359ff1/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/93b1b8/000000000000000077359ff1/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/93b1b8/000000000000000077359ff1/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:block;font-style:normal;font-weight:700;
}

@font-face {
font-family:"abril-display";
src:url("https://use.typekit.net/af/2dbd67/000000000000000077359ff2/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/2dbd67/000000000000000077359ff2/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/2dbd67/000000000000000077359ff2/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:block;font-style:italic;font-weight:700;
}

@font-face {
font-family:"abril-display";
src:url("https://use.typekit.net/af/72e4a4/000000000000000077359ff6/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/72e4a4/000000000000000077359ff6/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/72e4a4/000000000000000077359ff6/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
font-display:block;font-style:normal;font-weight:600;
}

@font-face {
font-family:"abril-display";
src:url("https://use.typekit.net/af/8ba0cc/000000000000000077359ff9/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff2"),url("https://use.typekit.net/af/8ba0cc/000000000000000077359ff9/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("woff"),url("https://use.typekit.net/af/8ba0cc/000000000000000077359ff9/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i6&v=3") format("opentype");
font-display:block;font-style:italic;font-weight:600;
}

.tk-abril-display { font-family: "abril-display",serif; }
